@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/gilroylight.woff2") format("woff2"),
       url("../fonts/gilroylight.woff") format("woff");
 }

 @font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
 }

 @font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/opensanslight.woff2") format("woff2"),
       url("../fonts/opensanslight.woff") format("woff");
 }

 @font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/opensans.woff2") format("woff2"),
       url("../fonts/opensans.woff") format("woff");
 }

 /* body > * {
  background: rgba(255, 0, 0, 0.3);
}

body > * > * {
  background: rgba(255, 255, 0, 0.3);
}

body > * > * > * {
  background: rgba(0, 0, 255, 0.3);
}

body > * > * > * > * {
  background: rgba(0, 255, 255, 0.3);
} */

body {
  margin: 0;
  padding: 0;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
  background-color: #ffffff;
}

.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/*-------------------------HEADER-LOGO-------------------------*/

.main-header {
  position: relative;
  background-image: linear-gradient(#ffffff 12%, #f7e296 12%, #f7e296 100%);
  padding: 0px 60px 47px 60px;
  margin-top: 15px;
}

.header-logo,
.header-logo-index {
  position: absolute;
  top: 6px;
}

.header-logo[href]:hover,
.header-logo[href]:focus {
  opacity: 0.6;
}

.header-logo[href]:active {
  opacity: 0.3;
}

.header-logo[href] img {
  pointer-events: none;
}

/*-------------------------HEADER USER-NAV-HEADER-------------------------*/

.user-nav-header,
.main-nav,
.nav-catalog-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-top {
  display: flex;
  /* flex-wrap: wrap; */
  padding-top: 68px;
  margin-bottom: 21px;
  justify-content: space-between;
}

.user-nav-header {
  display: flex;
  flex-wrap: wrap;
  width: 560px;
  flex-grow: 1;
}

.user-nav-header a {
  color: #000000;
}

.user-nav-header a:hover {
  opacity: 0.6;
}

.user-nav-header a:active {
  opacity: 0.3;
}

.header-enter {
  position: relative;
  padding: 25px 30px 25px 44px;
}

.header-exit {
  padding: 25px 12px;
  opacity: 0.3;
}

.header-user {
  position: relative;
  padding: 25px 10px 25px 47px;
}

.header-user::before {
  position: absolute;
  content: "";
  background: url("../img/user.svg") no-repeat;
  width: 13px;
  height: 12px;
  top: 29px;
  left: 21px;
}

.header-enter::before {
  position: absolute;
  content: "";
  background: url("../img/user.svg") no-repeat;
  width: 13px;
  height: 12px;
  top: 29px;
  left: 19px;
}

.header-compare {
  position: relative;
  padding: 25px 20px;
}

.header-compare::before {
  position: absolute;
  content: "";
  background: url("../img/compare.svg") no-repeat;
  width: 10px;
  height: 10px;
  top: 31px;
  left: 0px;
}

.user-compare {
  margin-left: auto;
  margin-right: 24px;
}

.header-basket {
  position: relative;
  padding: 25px 0px;
  padding-left: 21px;
}

.header-basket::before {
  position: absolute;
  content: "";
  background: url("../img/basket.svg") no-repeat;
  width: 12px;
  height: 12px;
  top: 29px;
  left: -2px;
}

/* --------------------nav-search---------------- */

.nav-search {
  padding-bottom: 15px;
  padding-left: 27px;
}

.nav-search-search {
  width: 560px;
}

.main-nav-search {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 440px;
}

.search-label {
  position: absolute;
  top: 8px;
  left: -24px;
  width: 20px;
  height: 20px;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

.search-label::before {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;
  display: none;
  width: 400px;
  height: 2px;
  background-color: #000000;
}

.search-input {
  position: relative;
  width: 320px;
  height: 30px;
  margin-left: 10px;
  padding: 0;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.search-input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-input:focus::placeholder {
  font-size: 0;
}

.search-input:focus ~ .search-label::before {
  display: block;
}

.search-input:focus ~ .button-search {
  z-index: 0;
  opacity: 1;
}

.button-search {
  position: absolute;
  top: -9px;
  left: 330px;
  z-index: -1;
  width: 85px;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 14px;
  padding-bottom: 14px;
  background: none;
  background-color: transparent;
  border: 2px solid #000000;
  cursor: pointer;
  opacity: 0;
}

.button-search:hover {
  color: #ffffff;
  background-color: #000000;
  transition: all 0.1s linear;
}

.button-search:focus {
  z-index: 0;
  color: #ffffff;
  background-color: #000000;
  opacity: 1;
  transition: all 0.1s linear;
}

.button-search:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-search:focus ~ .search-label::before {
  display: block;
}

/*-------------------------NAV-------------------------*/

.header-middle {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
}

.nav a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  color:#000000;
}

.main-nav a:not(.nav-catalog-current):hover,
.nav-catalog-wrapper a:hover {
  opacity: 0.6;
}

.main-nav a:not(.nav-catalog-current):active,
.nav-catalog-wrapper a:active {
  opacity: 0.3;
}

.main-nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 560px;
  /* margin-left: auto; */
  /* flex-grow: 1; */
}

.main-nav-item {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  letter-spacing: 3.5px;
  text-transform: uppercase;
}

.nav-catalog {
  position: relative;
  padding: 25px 30px 30px 0px;
}

.nav-catalog::after {
  position: absolute;
  content: "";
  background: url("../img/plus.svg") no-repeat;
  width: 16px;
  height: 16px;
  top: 28px;
  right: 0;
}

.nav-delivery {
  padding: 25px 11px 30px 20px;
}

.nav-guarantee {
  padding: 25px 30px 30px 25px;
}

.nav-contacts {
  padding: 25px 0px 25px 33px;
}

.nav-catalog-wrapper {
  width: 560px;
}

.main-nav li:last-child {
  margin-left: auto;
}

.nav-catalog-list {
  display: none;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 182px;
  left: 0px;
  z-index: 10;
  width: 1160px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: #f7e296;
  padding-bottom: 34px;
}

.nav-catalog-wrapper:hover .nav-catalog-list {
  display: flex;
  flex-wrap: wrap;
  /* width: 1160px; */
}

.nav-catalog-list .column-1 {
  width: 220px;
  margin-right: 20px;
}

.nav-catalog-list .column-2 {
  width: 180px;
  margin-right: 20px;
}

.nav-catalog-list .column-3 {
  width: 180px;
  margin-right: auto;
}

.nav-catalog-list a {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: #000000;
  letter-spacing: 0.15px;
}

.nav-catalog-current {
  opacity: 0.3;
}


/*-------------------------MAIN SLIDERS-------------------------*/

.sliders {
  position: relative;
  background-image: linear-gradient(#f7e296 113px, #ffffff 113px);
  margin-bottom: 74px;
}

.sliders::before {
  position: absolute;
  content: "";
  border: solid 4px #ffffff;
  width: 100px;
  right: 460px;
  top: 38px;
}

.sliders-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sliders h2 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 900;
  margin: 0;
  padding: 0;
}

.sliders p {
  max-width: 490px;
}

.slide  {
  position: relative;
}

.sliders-photo {
  width: 560px;
  text-align: center;
}

.sliders-list-self img {
  max-width: 100%;
  margin: 2px 0px 0px 0px;
  padding: 0;
}

.sliders-list-fit img {
  max-width: 100%;
  margin: 14px 0px 0px 16px;
  padding: 0;
}

.sliders-list-quadro img {
  max-width: 100%;
  margin: 67px 0px 0px 28px;
}

.sliders-content {
  width: 560px;
  z-index: 10;
}

.sliders-list-self .sliders-content {
  margin: 81px 0 0 0px;
}

.sliders-list-fit .sliders-content {
  margin: 81px 0 0 0px;
}

.sliders-list-quadro .sliders-content {
  margin: 81px 0 0 0px;
}

.sliders-content h2 {
  margin-bottom: 19px;
}

.sliders-list-self h2 {
  letter-spacing: 0.5px;
}

.sliders-list-fit h2 {
  letter-spacing: 0.6px;
}

.sliders-list-quadro h2 {
  max-width: 505px;
  letter-spacing: 0.7px;
}

.sliders-list-self p {
  letter-spacing: 0.17px;
}

.sliders-list-fit p {
  max-width: 460px;
  letter-spacing: 0.15px;
}

.sliders-list-quadro p {
  max-width: 460px;
  letter-spacing: 0.15px;
}

.sliders-list-self::before {
  position: absolute;
  content: "01";
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 179px;
  line-height: 179px;
  font-weight: 900;
  letter-spacing: 1.79px;
  color: #ffffff;
  right: 46px;
  top: -13px;
}

.sliders-list-fit::before {
  position: absolute;
  content: "02";
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 179px;
  line-height: 179px;
  font-weight: 900;
  letter-spacing: 1.79px;
  color: #ffffff;
  right: 47px;
  top: -13px;
}

.sliders-list-quadro::before {
  position: absolute;
  content: "03";
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 179px;
  line-height: 179px;
  font-weight: 900;
  letter-spacing: 1.79px;
  color: #ffffff;
  right: 48px;
  top: -13px;
}

.button {
  position: relative;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  line-height: 24px;
  font-weight: 900;
  letter-spacing: 3.5px;
  color: #000000;
  /* background-color: #f0c52e; */
  border: none;
  z-index: 1;
  width: 200px;
}

.button::before {
  position: absolute;
  content: "";
  top: 50%;
  left: -2px;
  z-index: -1;
  width: inherit;
  height: 8px;
  margin-top: -5px;
  background-color: #f0c52e;
}

.button::before,
.button:hover::before {
  transform: translateY(-50%);
  height: 8px;
  transition: height .3s;
}

.sliders-button {
  display: inline-block;
  width: 220px;
  margin-top: 35px;
  margin-bottom: 56px;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.product-properties {
  margin-bottom: 40px;
}

.product-properties td {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  padding: 0;
  padding-right: 76px;
}

.quadro-properties td {
  padding-right: 59px;
}

.product-properties th {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  padding: 0;
  padding-top: 5px;
}

.slide {
  display: none;
}

.slider-controls label {
  display: inline-block;
  position: relative;
  width: 12px;
  height: 12px;
  margin-right: 21px;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

/* .radio-slider:checked ~ sliders.label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 5px;
  height: 5px;
  border: 1px solid #000000;
  border-radius: 50%;
  cursor: pointer;
} */

.slider-controls {
  position: absolute;
  top: 329px;
  right: 62px;  
  font-size: 0;
  z-index: 20;
}

#product-1:checked ~ .sliders #slide-1,
#product-2:checked ~ .sliders #slide-2,
#product-3:checked ~ .sliders #slide-3 {
  display: flex;
  justify-content: space-between;
}

li#slide-1 {}

/* #product-1:checked ~ .sliders label[for="product-1"],
#product-2:checked ~ .sliders label[for="product-2"],
#product-3:checked ~ .sliders label[for="product-3"] {
  background-color: transparent;
} */

#product-1:checked ~ .sliders label[for="product-1"]::after,
#product-2:checked ~ .sliders label[for="product-2"]::after,
#product-3:checked ~ .sliders label[for="product-3"]::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 5px;
  height: 5px;
  border: 1px solid #000000;
  border-radius: 50%;
  cursor: pointer;
}

/*-------------------------CATEGORY TOP-------------------------*/

.category-top {
  margin-bottom: 155px;
}

.category-top-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.category-top-list a {
  display: block;
  position: relative;
  width: 160px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  color: #000000;
  padding-top: 193px;
}

.category-top-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.category-virtual a {
letter-spacing: 0.5px;
}

.category-virtual a::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: url(../img/popular-1.svg) 49% 49% #f0c52e no-repeat;
  width: 160px;
  height: 160px;
}

.category-self a {
  padding-right: 35px;
  letter-spacing: 0.4px;
}

.category-self a::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: url(../img/popular-2.svg) 52% 95% #f0c52e no-repeat;
  width: 160px;
  height: 160px;
}

.category-camera a::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: url(../img/popular-3.svg) 55% 52% #f0c52e no-repeat;
  width: 160px;
  height: 160px;
}

.category-fitnes a::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: url(../img/popular-4.svg) 52% 53% #f0c52e no-repeat;
  width: 160px;
  height: 160px;
}

.category-watch a::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: url(../img/popular-5.svg) 53% 52% #f0c52e no-repeat;
  width: 160px;
  height: 160px;
}

.category-cuadro a::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: url(../img/popular-6.svg) 48% 54% #f0c52e no-repeat;
  width: 160px;
  height: 160px;
}

/*-------------------------SERVICES-------------------------*/

.services-wrapper {
  padding-bottom: 115px;
  margin-bottom: 95px;
  background-image: linear-gradient(#ffffff 26px, #e5e5e5 26px, #e5e5e5 340px);
}

.services-list {
  position: relative;
  padding: 0;
  margin: 0;
  margin-left: 100px;
  list-style: none;
  flex-grow: 1;
}

.services {
  display: flex;  
  flex-wrap: wrap;
}

.services-list h3 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 1.02;
  letter-spacing: 1px;
  text-align: left;
  color: #000000;
  margin: 0 0 31px 2px;
}

.services-list p {
  max-width: 445px;
  letter-spacing: 0.3px;
  margin: 0;
}

.controls-delivery {
  margin-top: 6px;
  padding: 9px 0 8px 18px;
}

.controls-guarantee {
  padding: 9px 0 8px 25px;
}

.controls-credit {
  padding: 10px 0 8px 37px;
}

.service-delivery,
.service-guarantee,
.service-credit {
  position: relative;
}

.service-delivery::after {
  position: absolute;
  content: "";
  background: url("../img/delivery.svg") no-repeat;
  width: 136px;
  padding: 80px;
  right: 42px;
  top: 11px;
}

.service-guarantee::after {
  position: absolute;
  content: "";
  background: url("../img/warranty.svg") no-repeat;
  width: 171px;
  padding: 100px;
  right: 16px;
  top: -13px;
}

.service-credit::after {
  position: absolute;
  content: "";
  background: url("../img/credit.svg") no-repeat;
  width: 156px;
  padding: 100px;
  right: 26px;
  top: -13px;
}

.services-controls label {
  display: block;
  width: 278px;
  margin-right: 21px;
  color: black;
  background-color: #f0c52e;
  cursor: pointer;
  margin-bottom: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.services-controls {
  position: relative;
}

.services-controls::after {
  position: absolute;
  content: "";
  width: 7px;
  height: 319px;
  background-color: #000000;
  left: 277px;
  top: -74px;
}

.service {
  display: none;
}

#service-1:checked ~ .services #service1,
#service-2:checked ~ .services #service2,
#service-3:checked ~ .services #service3 {
  display: block;
}

#service-1:checked ~ .services label[for="service-1"],
#service-2:checked ~ .services label[for="service-2"],
#service-3:checked ~ .services label[for="service-3"] {
  color: #f0c52e;
  background-color: black;
}

/*-------------------------PARTNERS-------------------------*/

.partners-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 83px;
}

.logo-dji:hover {
  background: url("../img/logo-1.png") no-repeat;
}

.logo-gadjets:hover {
  background: url("../img/logo-2.png") no-repeat;
}

.logo-gopro:hover {
  background: url("../img/logo-3.png") no-repeat;
}

.logo-vive:hover {
  background: url("../img/logo-4.png") no-repeat;
}

/*-------------------------INFO-US-------------------------*/
.info-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 72px;
}

.info-us h2 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 1.02;
  letter-spacing: 0.47px;
  text-align: left;
  color: #000000;
  padding-top: 15px;
  padding-bottom: 3px;
}

.about-us {
  position: relative;
  margin: 0;
  padding: 0;
  max-width: 490px;
}

.about-us::before {
  position: absolute;
  content: "";
  border: 3.5px solid #000000;
  width: 80px;
  top: 0;
}

.about-us-stock {
  max-width: 450px;
  margin-bottom: 30px;
  letter-spacing: 0.1px;
}

.about-us-delivery {
  max-width: 475px;
  margin-bottom: 71px;
}

.contacts-info {
  position: relative;
  margin: 0;
  padding: 0;
  max-width: 570px;
}

.contacts-info::before {
  position: absolute;
  content: "";
  border: 3.5px solid #000000;
  width: 80px;
  top: 0;
  left: 10px;
}

.contacts-info h2 {
  padding-left: 7px;
}

.delivery-list {
  margin: 0;
  margin-bottom: 65px;
  padding: 0;
  padding-left: 18px;
  list-style: none;
}

.delivery-list li {
  position: relative;
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  margin-bottom: 10px;
  padding-left: 17px;
  letter-spacing: 0.8px;  
}

.delivery-list li::before {
  position: absolute;
  content: "";
  top: 10px;
  left: -17px;
  width: 8px;
  height: 8px;
  border: 2px solid #e6e6e6;
  border-radius: 50%;
}

.contacts-address {
  padding-left: 8px;
  letter-spacing: 0.1px;
  margin-bottom: 39px;
}

.contacts-map {
  padding-left: 10px;
  margin-bottom: 65px;
}

.button-about-us {
  margin-left: 23px;
}

.button-contacts-info{
  margin-left: 51px;
}

/*-------------------------FOOTER----------------------------*/

footer {
  background-color: #464646;
  padding: 63px 0 58px 0px;
}

.footer-top,
.footer-middle,
.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.user-nav-footer,
.footer-nav,
.social-list {
  margin: 0;
  padding: 0;
  list-style: none;
}


/*-------------------------FOOTER-TOP-------------------------*/
.footer-top {
  margin-bottom: 6px;
}
.footer-logo {
  margin: 2px 0 0 0;
}

.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.user-nav-footer {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  margin-left: auto;
}

.user-nav-footer a {
  padding-left: 34px;
}

.user-item-footer {
  margin-left: 30px;
}

.footer-enter,
.footer-exit,
.footer-compare,
.footer-user,
.footer-basket {
  position: relative;
}

.footer-user::before {
  position: absolute;
  content: "";
  background: url("../img/user-footer.svg") no-repeat;
  width: 13px;
  height: 12px;
  top: 4px;
  left: 4px;
}

.footer-enter::before {
  position: absolute;
  content: "";
  background: url("../img/user-footer.svg") no-repeat;
  width: 13px;
  height: 12px;
  left: 7px;
  top: 4px;
}

.footer-compare::before {
  position: absolute;
  content: "";
  background: url("../img/compare-footer.svg") no-repeat;
  width: 13px;
  height: 12px;
  left: 14px;
  top: 6px;
}

.footer-basket::before {
  position: absolute;
  content: "";
  background: url("../img/basket-footer.svg") no-repeat;
  width: 13px;
  height: 12px;
  left: 12px;
  top: 4px;
}

.user-item-footer a{
  color: #ffffff;
}

.user-item-footer a:hover {
  opacity: 0.6;
}

.user-item-footer a:active {
  opacity: 0.3;
}



/*-------------------------FOOTER-MIDDLE-------------------------*/

.footer-middle{
  margin-bottom: 47px;
}

.address {
  color: #ffffff;
  margin: 15px 0px 0px 0px;
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  margin-top: 18px;
  margin-right: 0;
}

.footer-nav a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.footer-nav li {
  margin-right: 34px;
}

.footer-nav a:hover {
  opacity: 0.6;
}

.footer-nav a:active {
  opacity: 0.3;
}

.number-phone a {
  color: #ffffff;
}

/*-------------------------FOOTER-BOTTOM-------------------------*/

.footer-bottom {
  position: relative;
}

.footer-bottom .social-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 12px 0 0 auto;
}

.footer-bottom::before {
  position: absolute;
  content: "";
  border: 3px solid #ffc600;
  width: 80px;
  left: 0px;
  top: 14px;
}

.social-list li:not(:last-child) {
  margin-right: 23px;
}

.social-list a {
  opacity: 0.3;
  width: 32px;
  height: 32px;
  padding: 16px;
}

.social-list a:hover {
  opacity: 1;
}

.social-list a:active {
  opacity: 0.1;
}

.social-facebook {
  background: url("../img/fb.svg") no-repeat;
}

.social-instagram {
  background: url("../img/instagram.svg") no-repeat;
}

.social-twitter {
  background: url("../img/twitter.svg") no-repeat;
}

/*-------------------------LOGO-ACADEMY-------------------------*/

.logo-academy-footer {
  margin-left: auto;
}

.logo-academy:hover {
  opacity: 0.6;
}

.logo-academy:active {
  opacity: 0.3;
}

/* NEXT PAGE - CATALOG */

/*-------------------------monopod-wrapper----------------------------*/

.monopod-wrapper {
  margin: 37px 0 43px 0px;
  padding: 0 60px;
}

.catalog-subtitle {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0.7px;
  margin-bottom: 20px;
}

.breadcrumbs {
  display: flex;
  list-style: none;
  color: #000000;
  margin: 0;
  padding: 0;
}

.breadcrumbs a{
  color: #000000;
  opacity: 0.3;
}

.breadcrumbs-item:hover {
  opacity: 0.6;
}

.breadcrumbs-item:active {
  opacity: 0.1;
}

.breadcrumbs-index {
  margin-right: 12px;
}

.breadcrumbs-catalog {
  padding-left: 21px;
  margin-right: 13px;
}

.breadcrumbs-monopod {
  padding-left: 20px;
}

.breadcrumbs-arrow {
  position: relative;
}

.breadcrumbs-arrow::before {
  position: absolute;
  content: "";
  background: url("../img/nav-arrow.svg") no-repeat;
  padding: 10px;
  width: 4px;
  height: 7px;
  top: 13px;
  left: 0;
}

/*-------------------------catalog-wrapper-------------------------*/

.catalog-header .container,
.catalog-content .container {
  display: flex;
}

.catalog-header {background-image: linear-gradient(to right,#dcdcdc 0,#dcdcdc 38%,#ebebeb 38%,#ebebeb 100%);/* margin-bottom: 69px; */}

.catalog-content {
background-image: linear-gradient(to right,#eee 0,#eee 28%,#fff 28%,#fff 100%);
}
/*-------------------------filters-wrapper-------------------------*/

.filters {
  background-color: #eeeeee;
  padding: 70px 0px 0 60px;
  width: 28.2%;
}

section.catalog {
  padding-top: 70px;
  width: 71.8%;
  padding-left: 73px;
}

.filters-wrapper {
  width: 200px;
}

.filters-name {
  width: 28.2%;
  padding-left: 60px;
  padding-right: 60px;
}

.filters-name h2 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 900;
  text-transform: uppercase;
  padding-top: 10px;
  letter-spacing: 3.5px;
  /* margin-bottom: 93px; */
  /* margin: 0; */
  /* padding: 0; */
}

.filters legend,
.filter-range-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
}

.filters-fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.filters ul {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 38px;
}

/*----------------filter-range----------------*/

.filter-range {
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  margin-bottom: 10px;
}

.filter-range-title {
  margin: 10px 0 35px 0;
}

.range-controls {
  position: relative;
  margin-bottom: 10px;
}

.range-controls .scale {
  height: 2px;
  background: #dbdbdb;
}

.range-controls .bar {
  width: 54%;
  height: 2px;
  background: #91c92f;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 20px;
  height: 20px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle-min {
  left: -6px;
}

.range-toggle-max {
  left: 54%;
}

.range-toggle:active {
  transform: scale(1.2);
}

.price-controls {
  font-size: 0;
  margin-bottom: 25px;
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
  color: #dbdbdb;
}

.price-controls input {
  text-align: left;
  color: #dbdbdb;
  max-width: 70px;
  border: 0;
  background: none;
}

/*----------------filters-color----------------*/

.filter-checkbox {
  margin-bottom: 10px;
  border-bottom: 2px solid;
}

.filter-checkbox legend {
  margin-bottom: 21px;
}

.filters-color label {
  position: relative;
  padding: 0 0 0px 38px;
}

.checkbox-form + label::before {
  position: absolute;
  background: url("../img/checkbox-off.svg") no-repeat;
  content: "";
  width: 23px;  
  height: 23px;
  left: 0;
  top: 0;
}

.checkbox-form:disabled + label {
  color: rgba(166, 166, 166, 0.25);
  cursor: default;
}

.checkbox-form:disabled + label::before {
  cursor: default;
  opacity: 0.25;
}


.checkbox-form:checked + label::before {
  background: url("../img/checkbox-on.svg") no-repeat;
  content: "";
  width: 27px;
  height: 23px;
  padding: 20px;
}

.checkbox-form:not(:disabled) + label:hover::before,
.checkbox-form:not(:disabled) + label:focus::before {
  opacity: 0.6;
}

.checkbox-form:not(:disabled) + label:active::before {
  opacity: 1;
}

li.filters-option {
  margin-bottom: 10px;
}

/*----------------filters-bluetooth----------------*/

.filter-radio {
  margin-bottom: 5px;
}

.filter-radio legend {
  margin-bottom: 21px;
}

.filters-bluetooth label {
  position: relative;
  padding: 0 0 0 38px;
}

.radio-form + label::before {
  position: absolute;
  border: 5px solid #000000;
  border-radius: 50%;
  content: "";
  width: 27px;
  height: 27px;
  top: -2px;
  left: -2px;
}

.radio-form:checked + label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  width: 9px;
  height: 9px;
  background-color: #000000;
  border-radius: 50%;
}

.radio-form:disabled + label {
  color: rgba(166, 166, 166, 0.25);
  cursor: default;
}

.radio-form:disabled + label::before,
.radio-form:disabled + label::after {
  opacity: 0.25;
  cursor: default;
}
 
.radio-form:not(:disabled) + label:hover::before,
.radio-form:not(:disabled) + label:focus::before,
.radio-form:not(:disabled) + label:hover::after,
.radio-form:not(:disabled) + label:focus::after {
  opacity: 0.6;
}

.radio-form:not(:disabled) + label:active::before,
.radio-form:not(:disabled) + label:active::after {
  opacity: 1;
}

/*-------------------------catalog-------------------------*/

.catalog a {
  color: #000000;
}

.add-compare {
  opacity: 0.5;
  font-size: 13px;
}

.add-compare:hover {
  opacity: 1;
}

.add-compare:active {
  opacity: 0.2;
}

/* .product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

} */

/*-------------------------sort-------------------------*/

.sort {
  background-color: #eeeeee;
  display: flex;
  flex-wrap: wrap;
  padding-top: 8px;
  justify-content: space-between;
  width: 71.8%;
}

.sort p {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 3.8px;
  /* margin-right: auto; */
  padding-left: 74px;
  padding-right: 50px;
}

.sort ul {
  list-style: none;
}

.sort-list {
  display: flex;
  flex-wrap: wrap;
  margin: 11px 0px 0 0;
  padding: 0;
}

.sort-increment {
  display: flex;
  flex-wrap: wrap;
  margin: 33px 0 0;
  padding: 0;
  margin-left: auto;
  /* flex-grow: 1; */
}

.sort-list li {
  margin-right: 26px;
}

.sort-item {
  margin-top: 5px;
}

.sort-link,
.sort-item {
  color: #000000;
  opacity: 0.3;
}

.sort-link:hover {
  opacity: 0.6;
}

.sort-link:active {
  opacity: 1;
}

.sort-current {
  opacity: 1;
  cursor: default;
}

.sort-item {
  opacity: 0.2;
}

.sort-item:hover {
  opacity: 0.4;
}

.sort-item:active {
  opacity: 1;
}

.sort-increase {
  background: url("../img/icon-up-dir.svg") no-repeat;
  width: 11px;
  height: 10px;
  padding: 15px 30px 0 0px;
}

.sort-decrease {
  background: url("../img/icon-down-dir.svg") no-repeat;
  width: 11px;
  height: 10px;
  padding: 15px 1px 15px 10px;
}

.increment-current {
  opacity: 1;
}

/*-------------------------products-list-------------------------*/

.products-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: -10px;
}

li.products-item {
  max-height: 550px;
  position: relative;
}

.products-info h3 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  letter-spacing: 0.18px;
  text-align: left;
  margin-top: 22px;
  max-width: 260px;
}

.products-info p {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.16px;
  text-align: right;
  margin-top: 22px;
}

.products-user {
  display: none;
}

.products-user {
  position: absolute;
  width: 360px;
  height: 380px;
  top: 0;
  left: 0;
  text-align: center;
  background-color: rgb(255, 255, 255, 0.7);
  padding: 50% 0;
}

.products-user a {
  display: block;
  /* vertical-align: middle; */
}

.button-basket {
  width: 200px;
  margin: auto auto 16px;
  /* margin-bottom: 20px; */
}

.products-item:hover .products-user {
  display: block;
  /* flex-direction: column;
  justify-content: center;
  flex-wrap: wrap; */
}

.products-info {
  display: flex;
  justify-content: space-between;
  max-width: 360px;
  padding-bottom: 28px;
}

/*-------------------------PAGINATION-LIST-------------------------*/

.pagination-list {
  display: flex;
  list-style: none;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 900;
  background-color: rgba(0, 0, 0, 0.08);
  width: 760px;
  margin: 0 0 77px 0;
  padding: 24px 0 22px 0;
  letter-spacing: 3.7px;
}

.pagination-item {
  opacity: 0.3;
  margin-right: 27px;
}

.pagination-item:not(.pagination-current):hover {
  opacity: 0.6;
}

.pagination-item:not(.pagination-current):active {
  opacity: 1;
}

.pagination-current {
  opacity: 1;
}

.pagination-switch {
  text-transform: uppercase;
  padding: 25px;
  padding: 26px 25px 24px 30px;
}

.pagination-switch:not(.pagination-back):hover {
  background-color: #d9d9d9;
}

.pagination-switch:not(.pagination-back):active {
  opacity: 0.3;
}

.pagination-back {
  margin-right: auto;
}

.pagination-forward {
  margin-left: auto;
}

/*-------------------------modal-feedback-------------------------*/

.modal-feedback {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 50;
  display: none;
  width: 960px;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
}

.modal-feedback-wrapper {
  position: relative;
  display: flex;
  padding-top: 93px;
  padding-right: 100px;
  padding-bottom: 76px;
  padding-left: 100px;
}

.popup-form {
  display: flex;
  flex-wrap: wrap;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-name {
  padding-right: 40px;
  padding-bottom: 34px;
}

.modal-feedback label {
  width: 360px;
  padding-bottom: 6px;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  cursor: pointer;
}

.input-message {
  padding-bottom: 20px;
}

.input-message label {
  padding-bottom: 8px;
}

.modal-feedback input {
  width: 360px;
  height: 50px;
  padding-top: 16px;
  padding-right: 19px;
  padding-bottom: 16px;
  padding-left: 19px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #464646;
  background-color: rgba(230, 230, 230, 0.5);
  border: none;
  outline: none;
}

.modal-feedback input:hover {
  background-color: rgba(230, 230, 230, 0.8);
}

.modal-feedback input:focus {
  background-color: #ffffff;
  border: 3px solid rgba(240, 197, 46, 0.5);
}

.modal-feedback input:invalid {
  background-color: rgba(237, 181, 181, 1.0);
}

.modal-feedback input::placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.modal-feedback textarea {
  width: 760px;
  min-height: 156px;
  padding: 14px 19px;
  font-size: 14px;
  line-height: 18px;
  color: #464646;
  background-color: rgba(230, 230, 230, 0.5);
  border: none;
  outline: none;
  resize: none;
}

.popup-form .button {
  margin-top: 18px;
}

.modal-feedback textarea:hover {
  background-color: rgba(230, 230, 230, 0.8);
}

.modal-feedback textarea:focus {
  background-color: #ffffff;
  border: 3px solid rgba(240, 197, 46, 0.5);
}

.modal-feedback textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: rgba(70, 70, 70, 0.4);
}

.modal-feedback .button {
  width: 200px;
  background: none;
  border: none;
}

.modal-feedback-close,
.modal-map-close {
  position: absolute;
  z-index: 5;
  top: 22px;
  right: 22px;
  width: 55px;
  height: 55px;
  background-color: #f0c52e;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
}

.modal-feedback-close::before,
.modal-map-close::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 30px;
  background-color: #ffffff;
  transform: translate(-50%, -50%) rotate(45deg);
}

.modal-feedback-close::after,
.modal-map-close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 30px;
  background-color: #ffffff;
  transform: translate(-50%, -50%) rotate(135deg);
}

.modal-feedback-close:hover,
.modal-map-close:hover {
  opacity: 1;
  transition: all 0.2s linear;
}

.modal-feedback-close:active,
.modal-map-close:active {
  opacity: 0.3;
}

/*-------------------------modal-map-------------------------*/

.modal-map {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 15;
  width: 960px;
  height: 560px;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
}

.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
}

.modal-map iframe {
  position: relative;
  z-index: 2;

  border: none;
}

.modal-map-wrapper {
  position: relative;
}

.modal-map-wrapper iframe {
  width: 960px;
  height: 560px;
  border: none;
}

.modal-show {
  display: block;
}

@keyframes shake {
  0%,
  100% {
    transform: translate(-50%, -50%);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(-50%, -50%)  translateX(-20px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate(-50%, -50%)  translateX(20px);
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay-show {
  display: block;
}

.modal-error {
  animation: shake 0.7s;
}

