body {
  margin: 0;
  padding: 0;
  font-family: "OpenSans", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*-------------------------LOGO-HEADER-------------------------*/

.logo-header:hover {
  opacity: 0.6;
}

.logo-header:active {
  opacity: 0.3;
}

/*-------------------------HEADER USER-NAV-------------------------*/

.user-nav-header,
.main-nav,
.nav-catalog-list {
  list-style: none;
}

.user-nav-header a {
  color: #000000;
}

.user-nav-header a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.user-nav-header a:active {
  color: rgba(0, 0, 0, 0.3);
}

/*-------------------------HEADER MAIN-NAV-------------------------*/

header {
  background-color: #f7e296;
}

.main-nav a {
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  color: #000000;
}

.main-nav a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.main-nav a:active {
  color: rgba(0, 0, 0, 0.3);
}

/*-------------------------HEADER MAIN-NAV-CATALOG-LIST-------------------------*/

.nav-catalog-list a {
  font-family: "OpenSans", sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: #000000;
}

.nav-catalog-list a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.nav-catalog-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

/*-------------------------MAIN SLIDERS-------------------------*/

.sliders-list {
  display: flex;
  list-style: none;
}

.sliders h2 {
  font-family: "Gilroy", sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 900;
}

.sliders p {
  width: 490px;
}

.button {
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  color: #000000;
  background-color: #f0c52e;
}

.button:hover {
  background-color: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.product-properties td {
  font-family: "Gilroy", sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
}

.product-properties th {
  font-family: "OpenSans", sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
}

/*-------------------------CATEGORY TOP-------------------------*/

.category-top-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.category-top-list a {
  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  color: #000000;
}

/* Разобраться с фото
.category-top-list a:hover {
  color: rgba(0, 0, 0, 0.3);
} */

.category-top-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

/*-------------------------SERVICES-------------------------*/

.services-button-list,
.services-list {
  list-style: none;
}

.button-serv:active {
  color: #f7e184;
  background-color: #000000;
}

/*-------------------------PARTNERS-------------------------*/

.partners-list {
  display: flex;
  list-style: none;
}

.logo-dji:hover {
  background: url('../img/logo-1.png') no-repeat;
}

.logo-gadjets:hover {
  background: url('../img/logo-2.png') no-repeat;
}

.logo-gopro:hover {
  background: url('../img/logo-3.png') no-repeat;
}

.logo-vive:hover {
  background: url('../img/logo-4.png') no-repeat;
}

/*-------------------------FOOTER-NAV-------------------------*/

.footer-nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

/*-------------------------SOCIAL-------------------------*/

.social {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

/*-------------------------USER-NAV-FOOTER-------------------------*/

.user-nav-footer {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

/*-------------------------MODAL-FEEDBACK-------------------------*/

.input-field {
  background-color:rgba(229, 229, 229, 0.5);
  border: none;
  color: rgba(70, 70, 70, 0.4);
}

.input-field:hover {
  background-color:rgba(229, 229, 229, 0.8);
  color: rgba(70, 70, 70, 0.4);
}

.input-field:focus {
  border: 3px solid #f0c52e;
  color: #000000;
  background-color: #ffffff;
  color: rgba(70, 70, 70  );
}

.input-field:invalid {
  background-color: #edb5b5;
  border: none;
}

/*-------------------------MODAL-FEEDBACK-------------------------*/

.modal-feedback {
  position: relative;
}

.button-close::after {
position: absolute;
content: "";
top: 0;
right: 0;
width: 55px;
height: 55px;
background: url('../img/modal-close.svg') no-repeat;
opacity: 0.5;
}

.button-close:hover::after {
opacity: 1;
}

.button-close:active::after {
  opacity: 0.3;
}

